/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    background-color: #f5f5f5;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 40px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-tabs {
    justify-content: center;
}

.nav-tabs .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}

.nav-tabs .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

main {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.section-block {
    margin: 20px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    color: #0173c7;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
    transition: background-color 0.3s ease;
}

.nav-tabs .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

hr {
    border-top: 2px solid #ddd;
}

.text-muted {
    color: #777;
}

@media (max-width: 767px) {
    .logo img {
        height: 30px;
    }
}
